.header{
    border-bottom: 1px solid #ffffff17;
}
.front{
   background: url(../public/Pattern.png);
   width: 100%;
   background-size: cover;
}
.stats{
    text-align: -webkit-center;
}
.bag{
    background: rgba(169, 128, 255, 0.25);
}
.footer {
    border-top: 1px solid #ffffff17;
}
#mobileNavbar{
    display:none;
}
@media screen and (max-width:1185px) {
    #navbar {
        display: none;
    }
    #mobileNavbar{
        display:block;
    }
}